In [1]:
import numpy as np
import pandas as pd

In [22]:
LoanData=pd.read_csv("income.csv")
LoanData.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [3]:
X = LoanData.iloc[:,0:6]
y = LoanData.iloc[:,6]

In [4]:
X.shape

(48842, 6)

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [6]:
from sklearn.ensemble import AdaBoostClassifier
AdaModel = AdaBoostClassifier(n_estimators=100, learning_rate=1)

In [7]:
#n_estimators: Number of weak learners to train iteratively.

#learning_rate: It contributes to the weights of weak learners. It uses 1 as a default value.

In [8]:
model = AdaModel.fit(X_train, y_train)

In [9]:
y_pred = model.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8381615313747569

In [11]:
#Let's change the base models

In [17]:
# Import Support Vector Classifier
from sklearn.linear_model import LogisticRegression
Model_Logistic = LogisticRegression()

In [18]:
#Create AdaBoost classifier object
NewModel = AdaBoostClassifier(n_estimators=50,base_estimator=Model_Logistic,learning_rate=1)

In [19]:
model = NewModel.fit(X_train,y_train)

In [20]:
y_pred = NewModel.predict(X_test)

In [21]:
accuracy_score(y_test,y_pred)

0.7979322346197154